{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bookstore</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <div style='float:right'>
            {% if user.is_authenticated %}
                <a href={% url 'logout' %}>logout {{user.username}}</a>
            {% else %}
                <a href={% url 'register' %}>register</a>
                <a href={% url 'login' %}>login</a>
            {% endif %}
        </div>
        {% include 'home.html' %}

        {% block content %}
        {% endblock content %}
    </body>
</html>